#theme-container {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
}

.sun-circle {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(40deg, #ffdc00, #f5b700 70%);
    margin: auto;
}

.crescent {
    position: absolute;
    border-radius: 100%;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: white;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
        background-color 0.1s linear;
}

#theme-toggle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

#theme-toggle:checked ~ .crescent {
    transform: scale(1);
    background: #26242e;
}

#theme-toggle:checked ~ .sun-circle {
    background: linear-gradient(40deg, #8983f7, #a3dafb 70%);
}

body {
    --bg-color: #f7f9f7;
    --font-color: #121212;
    --em-font-color: #121212;
    --border-color: #218095;
    --gradient-style: radial-gradient(
        circle,
        #f6ff1c,
        #ffdc00,
        #ffb800,
        #ff951a
    );
    --gradient-size: 8px;
    --gradient-shadow: #ffb800;
    background: var(--bg-color);
    color: var(--font-color);
}

body.theme-dark {
    --bg-color: #26242e;
    --font-color: #ffffff75;
    --em-font-color: #ffffff87;
    --border-color: #c9e3e9;
    --gradient-style: radial-gradient(
        circle,
        #ccd325,
        #d3d84b,
        #dadd68,
        #e0e183,
        #e6e69c
    );
    --gradient-size: 2px;
    --gradient-shadow: #fff;
}
