.spinner {
  -webkit-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite;
  border-radius: 50%;
  border: 0.25rem solid rgba(var(--rgb-border), 0.3);
  border-top-color: var(--font-color);
  height: 2rem;
  margin: auto;
  width: 2rem;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
