.spinner {
    width: 2rem;
    height: 2rem;
    border: 0.25rem solid rgba(var(--rgb-border), 0.3);
    border-radius: 50%;
    border-top-color: var(--font-color);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    margin: auto;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
