.tooltipContainer {
  background-color: white;
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  border-radius: 5px;
  min-width: 150px;
  min-height: 150px;
}

.player {
  font-weight: 600;
}

.scoreTitle {
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.scoreBoxContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.legendContainer {
  display: flex;
  justify-content: center;
}

.legendContainer p {
  margin: 0;
}

.legendContainer div {
  height: 20px;
  width: 20px;
  margin: 0 1rem;
}
