.newscard-title {
    margin-top: 0;
    text-align: center;
}

.newscard-image {
    float: left;
    padding-right: 1rem;
    width: 10rem;
}

.newscard-text:first-line {
    line-height: 100%;
}

.newscard-text {
    margin: 0;
    text-align: justify;
    word-break: break-all;
}

.newscard-text::after {
    clear: both;
    content: '';
    display: block;
}
