.newscard-title {
    margin-top: 0;
    text-align: center;
}

.newscard-image {
    width: 10rem;
    float: left;
    padding-right: 1rem;
}

.newscard-text:first-line {
    line-height: 100%;
}

.newscard-text {
    text-align: justify;
    word-break: break-all;
    margin: 0;
}

.newscard-text::after {
    content: '';
    display: block;
    clear: both;
}
