.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
}

.container li {
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 1px solid var(--border-color);
}

.title {
    padding-left: 1rem;
    padding-right: 1rem;
}

.title input {
    font: inherit;
    margin-left: 1rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.title input::-webkit-calendar-picker-indicator {
    font-size: 1rem;
    cursor: pointer;
    margin-left: -1rem;
}

.container .title input {
    line-height: 1rem;
}

.container .title input:focus {
    outline: none;
}
