.container {
  cursor: pointer;
}

.container svg {
  margin-right: 1rem;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
}

.optionsContainer {
  position: absolute;
  margin-top: 2rem;
  width: 8rem;
  background-color: lightgray;
  border-radius: 5px;
  z-index: 10;
}

.optionsContainer li {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.optionsContainer li:hover {
  background-color: red;
}
