.language-selector-container {
    cursor: pointer;
}

.language-selector-container svg {
    margin-right: 1rem;
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
}

.language-selector-options-container {
    position: absolute;
    margin-top: 3rem;
    width: 8rem;
    background-color: lightgray;
    border-radius: 5px;
}

.language-selector-options-container li {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.language-selector-options-container li:hover {
    background-color: red;
}
