.container {
  cursor: pointer;
}

.container svg {
  margin-right: 1rem;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
}

.optionsContainer {
  position: absolute;
  margin-top: 2rem;
  width: 8rem;
  border-radius: var(--border-radius);
  z-index: 10;
  overflow: hidden;
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.12);
}

.optionsContainer li {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  transition: all ease 0.25s;
  background-color: var(--bg-color-secondary);
}

.optionsContainer li:hover {
  background-color: var(--active-color);
}
