.team-logo {
    height: 4rem;
    width: 4rem;
}

.team-card-container a {
    display: flex;
    width: fit-content;
}

.teams-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    .teams-list-container {
        grid-template-columns: 1fr;
    }
}
