.standings-table-conference-label p {
    text-transform: capitalize;
    margin: 0;
    font-size: 1.2rem;
    transform: translateZ(0) rotate(-90deg);
    transform-origin: 50% 52%;
}

.standings-table-conference-label.conference-east {
    background-color: lightsalmon;
}

.standings-table-conference-label.conference-west {
    background-color: lightcyan;
}

caption.standings-table-title {
    border-bottom: none;
}
