#container {
  height: 1.5rem;
  position: relative;
  width: 1.5rem;
}

.sun {
  background: linear-gradient(40deg, #ffdc00, #f5b700 70%);
  border-radius: 100%;
  height: 100%;
  margin: auto;
  width: 100%;
}

.moon {
  background: white;
  border-radius: 100%;
  height: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: top right;
  transform: scale(0);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0.1s linear;
  width: 1rem;
}

#toggle {
  cursor: pointer;
  height: 100%;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#toggle:checked ~ .moon {
  background: rgb(var(--rgb-bg-color-secondary));
  transform: scale(1);
}

#toggle:checked ~ .sun {
  background: linear-gradient(40deg, #8983f7, #a3dafb 70%);
}
