.basket-ball {
    position: absolute;
    overflow: hidden;
    height: 2em;
    width: 2em;
    top: 1em;
    right: -3.5rem;
    border-radius: 50%;
    background-color: #e65c00;
    background: -webkit-radial-gradient(
        center ellipse,
        #ef7f4d 0%,
        #b54213 100%
    );
    background: radial-gradient(ellipse at center, #ef7f4d 0%, #b54213 100%);
    box-sizing: border-box;
    -webkit-transform: translate(-50%, -50%) rotate(30deg);
    transform: translate(-50%, -50%) rotate(30deg);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.basket-ball:before,
.basket-ball:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border: solid 0.14rem rgba(13, 13, 13, 0.6);
    border-radius: 50%;
    box-sizing: border-box;
}
.line1 {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-right: solid 0.12em rgba(13, 13, 13, 0.6);
    box-sizing: border-box;
    right: 50%;
}

.line2 {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-top: solid 0.14rem rgba(13, 13, 13, 0.6);
    box-sizing: border-box;
    top: 50%;
}

.basket-ball:before {
    right: 75%;
}
.basket-ball:after {
    left: 75%;
}
