.chartsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-evenly;
  width: 100%;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.chart {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(var(--rgb-bg-color-secondary));
  border-radius: var(--border-radius);
  padding: 2rem 0;
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.12);
}

.chart > div {
  height: 90%;
  width: 100%;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .chart div :global .recharts-responsive-container {
    width: 100vh !important;
  }
}

.chartTitle {
  margin-top: 0;
}

.barChart {
  height: 70vh;
  grid-column: span 2;
}

@media only screen and (max-width: 1024px) {
  .chartsContainer {
    grid-template-columns: 1fr;
    justify-content: initial;
  }
  .chart {
    height: 80vh;
    width: calc(100vw - 2rem);
  }
  .barChart {
    grid-column: 1;
  }
}
