.shimmer {
  background: #f2f2f2;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    #eeeeee 40%,
    #dddddd 50%,
    #eeeeee 60%
  );
  background-size: 100vw;
  animation: shimmer 3s infinite linear, fade 0.1s forwards;
}

@keyframes shimmer {
  from {
    background-position: top right;
  }

  to {
    background-position: top left;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
