.container {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: fit-content;
}

.input {
    border-radius: 1rem;
    border: 1px solid var(--font-color);
    font-size: 1rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
}

.input:focus {
    outline: none;
}

.inputIcon {
    margin: 0 auto;
    padding: 0.25rem 0;
    position: absolute;
    right: 0.6rem;
    text-align: center;
    top: 0.4rem;
    width: 1rem;
}

.inputIcon .circle {
    border-radius: 1rem;
    border: 0.125rem solid var(--font-color);
    height: 0.6rem;
    width: 0.6rem;
}

.inputIcon .rectangle {
    border-bottom-right-radius: 0.12rem;
    border-top-right-radius: 0.12rem;
    border: 0.12rem solid var(--font-color);
    bottom: 0.1rem;
    position: absolute;
    right: 0rem;
    transform: rotate(45deg);
    width: 0.2rem;
}

.suggestions {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: 1px solid var(--font-color);
    border-left: 1px solid var(--font-color);
    border-right: 1px solid var(--font-color);
    overflow: hidden;
}

.suggestions li:last-child button {
    border-bottom: none;
}

.suggestions button {
    border-bottom: 1px solid var(--font-color);
    height: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: left;
    width: 100%;
}

.suggestions button:hover {
    background-color: rgba(var(--rgb-border), 0.1);
}

.suggestions + .input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
