/* NAVBAR */

.container {
  position: relative;
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  background-color: var(--bg-color-secondary);
}

.title {
  filter: drop-shadow(1px 1px 1px var(--bg-color));
}

@media only screen and (min-width: 992px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* BURGER MENU */

.burguerMenu {
  transition: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  height: 21px;
  width: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 16px;
  margin: 28px 0;
  z-index: 10;
  overflow: hidden;
}

.burguerMenu:focus {
  outline: none;
}

.burguerMenu div {
  border-radius: 10px;
  transition: width 200ms ease-out, height 0.3s linear, transform 0.3s linear,
    opacity 300ms linear;
  position: relative;
  transform-origin: 1px;
  min-height: 7px;
}

.burguerMenu div span {
  background: var(--font-color);
  height: 3px;
  display: block;
  margin: 2px 0;
  border-radius: 5px;
}

.burguerMenu.open div:first-child {
  transform: rotate(45deg);
  width: 22px;
}

.burguerMenu.close div:first-child {
  transform: rotate(0);
  width: 20px;
}

.burguerMenu.open div:nth-child(2) {
  width: 0;
}

.burguerMenu.close div:nth-child(2) {
  width: 20px;
}

.burguerMenu.open div:nth-child(3) {
  transform: rotate(-45deg);
  width: 22px;
}

.burguerMenu.close div:nth-child(3) {
  transform: rotate(0);
  width: 20px;
}

/* SIDEBAR MENU */

.sideMenu {
  height: 100vh;
  width: 0;
  position: absolute;
  z-index: 1000;
  top: 8vh;
  right: 0;
  background-color: var(--bg-color);
  overflow: hidden;
  padding-top: 1rem;
  transition: 0.5s;
  border-top: 1px solid var(--font-color);
  box-shadow: -1px 2px 5px #888;
}

.sideMenu.open {
  width: 30vw;
}

.sideMenu .linksList {
  padding: 0 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sideMenu .linksList li:first-child {
  margin-left: 0;
}

.sideMenu .linksList li {
  margin-bottom: 1rem;
}

/* LINKS */

.linksList li {
  margin-right: 1rem;
}

.linksList li:first-child {
  margin-left: 1rem;
}

.linksList li:last-child {
  margin-right: 0;
}

.linksList li:hover,
.selectedLink {
  border-bottom: 1px solid var(--font-color);
}
