.listFilters {
  display: flex;
}

.listFilters > * {
  margin-right: 1.25rem;
}

.listFilters > *:last-child {
  margin-right: 0;
}

.listModalFilters {
  display: flex;
  margin-bottom: 1.875rem;
}

.listModalFilters select:nth-child(odd) {
  margin-right: 0.625rem;
}

.listModalFilters select:nth-child(even) {
  margin-left: 0.625rem;
}
