.players-list-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    row-gap: 6rem;
    max-width: 100%;
}

.player-card-container {
    display: flex;
    align-items: flex-end;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1rem 1rem 0 1rem;
    max-width: 100%;
}

.player-card-image {
    height: 8rem;
}

.player-card-info-container {
    display: flex;
    align-self: flex-start;
}

.player-card-title {
    font-weight: bold;
    margin: 0;
}

.player-card-subtitle {
    margin: 0;
}

body.theme-dark .player-card-image.placeholder-image {
    filter: invert(100%);
}

.country-flag-icon {
    margin-left: 0.25rem;
    width: 1.5rem;
}

.player-card-country {
    display: flex;
    align-items: center;
}

.player-card-team-info {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 1rem;
}

.player-card-team-info img {
    width: 5rem;
    margin: auto;
}

.player-card-team-info p {
    margin: 0;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .players-list-container {
        grid-template-columns: 1fr;
    }
    .player-card-image {
        height: 6rem;
    }
    .player-card-team-info {
        flex-direction: row;
        margin-left: 0;
    }
    .player-card-team-info p {
        text-align: left;
        width: min-content;
    }
    .player-card-team-info img {
        width: 2rem;
    }
    .player-card-info-container {
        flex-direction: column;
    }
}
