.container {
  column-gap: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  margin-top: 2rem;
  max-width: 100%;
  row-gap: 6rem;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.playerShimmer {
  border-radius: 1rem;
  overflow: hidden;
  height: 11rem;
}
