body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
} */

html,
body,
#root {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.centered-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.disabled-scroll {
  overflow: hidden;
}

input {
  font-family: inherit;
}

table {
  margin-bottom: 1rem;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid var(--border-color);
}

td,
th {
  padding: 0.5rem;
}

td:nth-child(even),
th:nth-child(even) {
  background-color: var(--tertiary-color);
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.recharts-polar-angle-axis-tick-value,
.recharts-cartesian-axis-tick-value {
  fill: var(--font-color);
  font-size: 1rem;
}

.border-container {
  border: 1px solid var(--border-color);
}

input {
  line-height: inherit;
}

::-moz-selection {
  background: rgba(var(--rgb-font), 0.2);
}

::selection {
  background: rgba(var(--rgb-font), 0.2);
}

body {
  --bg-color: rgb(247, 249, 247);
  --bg-color-secondary: rgb(240, 242, 240);
  --active-color: rgb(248, 250, 248);
  --border-color: #d6d6d6;
  --font-color: rgb(18, 18, 18);
  --rgb-bg: 247, 249, 247;
  --rgb-border: 33, 128, 149;
  --rgb-font: 18, 18, 18;
  --primary-color: #6f4a6d;
  --secondary-color: #7abebf; /* Recharts bars not working with rgb */
  --tertiary-color: #e6e6e6;
  --border-radius: 1rem;
  background: var(--bg-color);
  color: var(--font-color);
}

body.theme-dark {
  --bg-color: rgb(38, 36, 46);
  --bg-color-secondary: rgb(26, 26, 26);
  --active-color: rgb(46, 44, 54);
  --border-color: #d6d6d6;
  --font-color: rgb(204, 197, 197);
  --rgb-bg: 38, 36, 46;
  --rgb-border: 201, 227, 233;
  --rgb-font: 102, 102, 102;
  --tertiary-color: #353538;
}
