body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
} */

html,
body,
#root {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-container {
    padding: 2rem 4rem 0 4rem;
}

@media only screen and (max-width: 992px) {
    .layout-container {
        padding: 1rem 1rem 0 1rem;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    outline: inherit;
    border: none;
}

.disabled-scroll {
    overflow: hidden;
}

input {
    font-family: inherit;
}
